<!DOCTYPE html>
<html lang="ja" class="semi-dark">
<head>
    <meta charset="UTF-8">
    <title>UltraSoul</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" th:href="@{/admin/images/logo/sm-t.png}" type="image/png"/>
    <!-- Bootstrap CSS -->
    <link th:href="@{/admin/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/admin/css/bootstrap-extended.css}" rel="stylesheet"/>
    <link th:href="@{/admin/css/style.css}" rel="stylesheet"/>
    <link th:href="@{/admin/css/icons.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <!-- loader-->
    <link th:href="@{/admin/css/pace.min.css}" rel="stylesheet"/>
    <link th:href="@{/admin/css/ec-site.css}" rel="stylesheet"/>
</head>
<body>

</body>
</html>
